#controller{
    background-color: #772020;
    display: flex;
    flex-direction: column;
    // height: 70px;
    overflow: hidden;
    width: auto;

    #controller_upLayer{
        color: #FFFFFF;
        display: flex;
        font-size: 12px;
        justify-content: space-between;
        padding: 0 5px;
    }

    #controller_downLayer{
        display: flex;
        justify-content: space-around;
        #controller_left{
            align-items: center;
            color: #FFFFFF;
            display: flex;
            justify-content: start;
            width: 25%;
            #songImg{
                margin: 0 10px;
                width: 60px;
                img{
                    vertical-align: middle;
                    width: 100%;
                }
            }
            #artistDate{
                #artistDate_songName{
                    font-size: 18px;
                    font-weight: bolder;
                }
                #artistDate_artist{
                    font-size: 14px;
                }
            }
        }
    
        #controller_center{
            display: flex;
            justify-content: center;
            width: 50%;
            img{
                cursor: pointer;
                margin: 0 10px;
            }
            #playerButton{
                margin: 0 10px;
                width: 55px;
                img{
                    height: 100%;
                    margin: 0;
                    width: 100%;
                    filter: invert(1);
                }
            }
        }
    
        #controller_right{
            align-items: center;
            display: flex;
            justify-content: center;
            width: 25%;
            #volumeButton{
                width: 20px;
                margin: 1px 10px 0 0;
                img{
                    width: 100%;
                }
            }
            #volumeBar{
                background-color: #FFFFFF;
                border-radius: 30px;
                height: 5px;
                width: 100px;
                &-active{
                    background-color: #E5B4B7;
                    height: 5px;
                    width: 0px;
                }
            }
        }
    }
  
}

#musicRangeBox{
    background-color: #FFFFFF;
    height: 20px;
    width: auto;
    &_range{
        background-color: #E5B4B7;
        height: 20px;
        width: 0px;
    }
}
